body {
    padding-bottom: 20px;
    font-family:Calibri;
}

.selectColumn {
    width:1em;
}

.heatColumn{
    width:5em;
}

.laneColumn{
    width:5em;
}

.eventNumberColumn{
    width:5em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.meetTitle{
    text-align:center;
    font-size:15pt;
    min-width:10.5in;
}

.meetSubtitle{
    text-align:right;
    font-size:13pt;
    min-width:10.5in;
    margin: 0 0 1em 0;
}

.blue{
    background-color: #4472C4;
}

hr {
    height:2px;
    margin-top:0px;
    margin-bottom:0px;
    min-width:10.5in;
}

table.swimSheet{
    margin:0 auto;
    width: 10.5in;
    font-weight:normal;
    margin-bottom:2em;
}

    table.swimSheet th {
        font-size: 12pt;
        font-weight:normal;
        background-color: #4472C4;
        color:white;
        padding:5px;
        text-align:center;
    }

.bold{
    font-weight: bold;
}